/* List.css */

.list-container {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem; /* Puedes ajustar el tamaño según tus preferencias */
    color: white;
    justify-content: flex-end;
    background-color: #1E293B;
  
  }

  .item {
    padding: 10px;
    border-radius: 8px;
    float: left;
    background-color: #1E293B; 
    padding: 2% 20px;
  }
  

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background: url('../assets/Fondo.gif') center center fixed;
    background-size: cover;
    overflow: hidden;
    background-color: rgba(30, 41, 59, 0); 

  }
  
 
  